.footer__wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 33vw;
    padding: 0;
    margin: 0 0 2rem;
}

a{
    text-decoration: none;
    color: hsl(0, 0%, 39%);
}

.logo_small{
    height: 2.25rem;
    width: auto;
}