.search__container{
    display: flex;
    flex-flow: column nowrap;
    margin: 2.31rem 0 0; 
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.button {
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    size: .8rem;
    padding: .75rem .9rem; 
    border: none;
    border-radius: 4px;
    margin: 0;
}

.--orange{
    background-color: hsl(35, 98%, 66%);
    color: hsl(0, 0%, 100%);
}
.--orange:hover{
    background-color:hsl(35, 100%, 44%);
    color:hsl(0, 0%, 100%);
}